.storyStyle {
    text-align: center;
    margin-top: 20px;
}

.profile-button {
    padding: 8px 20px;
    border-radius: 0px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    background-color: #070600;
}