body {
    font-family: hero-new, sans-serif;
    font-weight: 100;
    font-style: normal;
    
}

.nav-logo {
    width: 130px;
   
}
a {
    text-decoration: none;
}
.nav-link-white {
    color: white;
    background-color: transparent;
    padding: .5rem 1rem;
    font-size: 12px;
    letter-spacing: 2px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-in-out 0.3s;
    border: none;
    outline: none;
  
    

}

.nav-link-white:hover {
    color: black ;
    background-color: white;
    box-shadow: inset 90px 0 0 0 white;
    font-weight: bold;
    text-decoration: none;
}

