
.textEditor {
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
}

input {
    background-color: #0c74db;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin: 10px;
  }
  