.keyboard-footer {
   height: 170px;
}

.footer-container {
   background-color: #070600;
   padding: 4rem 0 2rem 0;
   display: flex;
   flex-direction: column;
   

}

.logo-footer {
width: 18rem;
margin-left: 25px;
}