.btn {
    color: black;
    background-color: transparent;
    padding: .5rem 1rem;
    font-size: 12px;
    letter-spacing: 2px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-in-out 0.3s;
    border: none;
    outline: none;
    margin: 10px;
}

.btn:hover {
    background: black;
    color: white;
    transition: all 0.3s ease-out;
}