
.profile-buttons {
   width: 300px;
    border: none;
  background-color:white;
    color: black;

}
.profile-buttons:hover {
    width: 300px;
    border: none;
    background-color: black;
    color: white;
}
