body {
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.nav {
    padding: 5px;
}

.navLinks {

}

.logins {

}

.navlink {
    color: black;
    background-color: white;
    padding: 5px;

}

.navlink:hover {
    color: white;
    background-color: black;
}
