body {
    font-family: hero-new, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: black;
}


.nav-logo {
    width: 30%
}
.nav-link {
    color: black;
    background-color: white;
    padding: 30px;
    font-size: 15px;
}

.nav-link:hover {
    color: black ;
    
}

